<!DOCTYPE html>
<html>
<head>
	<title>Secret Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="formbox">
		{% if error %}
		<div class="alert error">{{error}}</div>
		{% endif %}
		<form method="post">
			<input name="key" class="formbox_intext" placeholder="Create secret channel" required="">
			<button class="formbox_btn">Create channel</button>
			<a href="/join" class="formbox_link">Join to other channel</a>
		</form>
	</div>
</body>
</html>